body{
    background-color: rgb(209, 203, 203);
}

.header1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    color: rgb(97, 93, 93);
}

.nav1, .a1{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: rgb(94, 97, 97);
    padding: 15px;
    margin: -10px;
    color: #f3f2ef;
    text-decoration: none;
}

.main1{
    display: flex;
    justify-self: center;
    position: relative;
    padding: 20px;
    margin: 10px;
    background-color: #f3f2ef;
    width: 70%;
}

.footer1{
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.header2{
    margin-top: 55px;
    width: auto;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(98, 100, 100);
    text-align: center;
    border-radius: 15px;
    padding: 30px;
}

.nav2, .a2{
    padding-right: 210px;
    padding-left: 210px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(98, 100, 100);
    display: flex;
    justify-self: center;
    color: white;
}

.main2{
    background-color: white;
}

.main2 h1{
    margin-top: 30px;
    padding-left: 90px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;                                                 /* flex-wrap: wrap; */    

}

.galeria img{
    width: 300px;
    height: 300px;
}

.itemGaleria{
    box-shadow: 0px 0px 15px grey;
    background-color: antiquewhite;
    border: 1px solid;
    margin: 5px;
}


form{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px;
    justify-self: center;
}

form label{
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

form input{
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    height: 12%;
    align-self: center;
}

form img{
    width: 14px;
}

form button{
    margin-top: 5%;
    align-self: center;
    width: 25%;
}

.footer2{
    position: absolute;
    bottom: 0;
}
