.card{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    border-radius: 15px;
    box-shadow: 0px 0px 133px;
    background-color: rgb(182, 176, 176);
    width: 25%;
    text-align: center;
}

.card h3,.card p, .card a{
    color: rgb(34, 35, 36);
}

.card img{
    border-radius: 15px;
    height: 300px;
    width: 75%;
}

main{
    display: flex;
    justify-content: center;
    gap: 20px;
}

header{
    width: 100%;
    margin-top: -21px;
    border-radius: 15px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(27, 27, 27);
}

body{
   background: #e6d9d3;
background: linear-gradient(265deg, rgba(230, 217, 211, 0.99) 9%, rgba(232, 220, 220, 1) 46%, rgba(184, 176, 176, 1) 88%);
}